---
layout: handbook-page-toc
title: "Identity data"
description: "GitLab country specific data in regard to team members location, gender, ethnicity, race, age etc. View data here!"
canonical_path: "/company/culture/inclusion/identity-data/"
---

## GitLab Identity Data

Below is a list of the different ways GitLab Team Members choose to identify. The purpose of this page is to give an overview of our current representation as compared to a year ago.

**Due to data and or legal limitations, this is not an exhaustive list of all of our underrepresented groups.  Those with disabilities, those that identify as LGBTQIA+, etc. who choose not to disclose or underrepresented ethnicities outside of the US. 

The DIB Team is actively working on finding data sets outside the US and inclusion metrics for underrepresented groups we cannot report on as team member representation. 

**Of Note**: `Management` refers to Team Members who are *People Managers*, whereas `Leadership` denotes Team Members who are in *Director-level positions and above*.

### Region Specific Data

<embed width="100%" height="200px" src="<%= signed_periscope_url(chart: 16548799, dashboard: 1131846, embed: 'v2') %>">


### Gender Data

#### Gender Identification (Global)
<embed width="100%" height="200px" src="<%= signed_periscope_url(chart: 16548802, dashboard: 1131846, embed: 'v2') %>">

#### Gender in Management (Global)
<embed width="100%" height="200px" src="<%= signed_periscope_url(chart: 16548804, dashboard: 1131846, embed: 'v2') %>">

#### Gender in Leadership (Global)
<embed width="100%" height="200px" src="<%= signed_periscope_url(chart: 16548806, dashboard: 1131846, embed: 'v2') %>">

#### Gender in Tech (Global)
<embed width="100%" height="200px" src="<%= signed_periscope_url(chart: 16548801, dashboard: 1131846, embed: 'v2') %>">

#### Gender in Non-Tech (Global)
<embed width="100%" height="200px" src="<%= signed_periscope_url(chart: 16548803, dashboard: 1131846, embed: 'v2') %>">

#### Gender in Sales (Global)
<embed width="100%" height="200px" src="<%= signed_periscope_url(chart: 16548805, dashboard: 1131846, embed: 'v2') %>">


### Underrepresented Groups (URG) Data - US-Only**

#### URG at GitLab
<embed width="100%" height="200px" src="<%= signed_periscope_url(chart: 16548809, dashboard: 1131846, embed: 'v2') %>">

#### URG in Management
<embed width="100%" height="200px" src="<%= signed_periscope_url(chart: 16548811, dashboard: 1131846, embed: 'v2') %>">

#### URG in Leadership
<embed width="100%" height="200px" src="<%= signed_periscope_url(chart: 16548812, dashboard: 1131846, embed: 'v2') %>">

#### URG in Tech
<embed width="100%" height="200px" src="<%= signed_periscope_url(chart: 16548808, dashboard: 1131846, embed: 'v2') %>">

#### URG in Non-Tech
<embed width="100%" height="200px" src="<%= signed_periscope_url(chart: 16548810, dashboard: 1131846, embed: 'v2') %>">

#### URG in Sales
<embed width="100%" height="200px" src="<%= signed_periscope_url(chart: 16548813, dashboard: 1131846, embed: 'v2') %>">



**Source**: GitLab's People Analytics Team, WorkDay